<div class="usuario-login-container">
    <div class="usuario-logo">
        <img src="assets/imagens/logo-usuarios.png" alt="">
        <p>O educaView ajuda você a se conectar com as melhores escolas da região.Fazendo parte da sua vida</p>
    </div>
    <div class="form-container">
        <div class="usuario-form-container">
            <input class="email" type="text" title="Email" placeholder="Email">
            <input class="senha" type="password" title="senha" placeholder="Senha">
            <button class="btn-submit" title="enviar formulario" type="button">Entrar</button>
            <button class="btn-forgot-password" title="esqueceu senha?" type="button">Esqueceu a senha ?</button>
            <hr class="custom-line">
            <button class="btn-create-account" title="criar nova conta" type="button">Criar nova conta</button>
        </div>
        <span>Ao realizar o login,você concorda com nossa <a href="#">Política de Privacidade</a> e <a href="#">Termos de Uso</a></span>
    </div>
</div>    

