<div class="container-usuario">
    <img src="" alt="">
    <p>O educaView ajuda você a se conectar com as melhores escolas da região.Fazendo parte da sua vida</p>
    <div class="container-form">
    <input type="text" title="Email">
    <input type="text" title="senha">
    <button class="btn" title="enviar formulario" type="button">Entrar</button>
    <button class="btn" title="esqueceu senha" type="button">Esqueceu a senha ?</button>
    <button class="btn" title="criar conta" type="button">Criar nova conta</button>
    </div>
    <span>Ao realizar o login,você concorda com nossa <a href="#">Política de Privacidade</a> e <a href="#">Termos de Uso</a></span>
</div>    

