<div class="usuario-login-container">
    <div class="usuario-logo">
        <img src="assets/imagens/logo-usuarios.png" alt="">
        <p>Bem-vindo ao EducaView!</p>
    </div>

    <div class="form-container">
        <div class="usuario-form-container">
            <span>Nome completo</span>
            <input class="Nome" type="text" title="Nome" placeholder="Davi Luiz...">
            <span>CPF</span>
            <input class="CPF" type="number" title="CPF" placeholder="999.999.99-9">
            <Span>Email</Span>
            <input class="email" type="text" title="Email" placeholder="email@gmail.com">
            <Span>Criar senha</Span>
            <input class="criar-senha" type="password" title="senha" placeholder="123dve2#">
            <Span>confirma-senha</Span>
            <input class="confirma-senha" type="password" title="senha" placeholder="123dve2#">

            <hr class="custom-line">

            <button class="btn-create-account" title="criar nova conta" type="button">Criar nova conta</button>

        </div>

        <span>Ao realizar o login,você concorda com nossa <a href="#">Política de Privacidade</a> e <a href="#">Termos de Uso</a></span>

    </div>
</div>    
