.header-container {
  background-color: #f0f4f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
}
.custom-line {
  border: none;
  width: 80%;
  border-top: 1px solid #000; /* Altere a cor conforme necessário */
  margin: auto; /* Espaçamento superior e inferior */
}
app-logo {
  display: flex;
  justify-content: center;
}
.btn {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 54px;
  border-radius: 15%;
  font-size: 16px; /* Tamanho da fonte */
  color: #333; /* Cor do texto */
  cursor: pointer; /* Mudança do cursor ao passar sobre o botão */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombras leves */
  transition: background-color 0.3s, box-shadow 0.3s; /* Animação de transição */
  border: 2px solid #dfe1e5; /* Bordas com cor leve */
  border-radius: 15px; /* Bordas arredondadas */
  padding: 10px 20px; /* Espaçamento interno */
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}
.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  flex-direction: row-reverse;
}

.menu-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media only screen and (max-width: 600px) {
  .logo-container {
    justify-content: center;
    position: relative;
  }
  .logo-container img {
    margin: 0 auto;
  }
  .logo-container h1 {
    display: none;
  }
  .nav-links {
    display: none; /* Mantém a navegação oculta em telas maiores */
  }

  .menu-icon {
    display: flex; /* Garante que o ícone de hambúrguer continue visível */
    position: absolute;
    right: 10px; /* Ajusta para a distância do canto direito */
    top: 50%;
    transform: translateY(-50%);
  }
}
