.logo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  max-width: 100%;
}

.logo-container span {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  color: #3d3d3d;
}
.texto-maior {
  margin-left: 30px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  position: fixed;
}

.menu-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media only screen and (max-width: 600px) {
  .logo-container {
    justify-content: center;
    position: relative;
  }
  .logo-container img {
    margin: 0 auto;
  }
  .logo-container span {
    display: none;
  }
  .nav-links {
    display: none; /* Mantém a navegação oculta em telas maiores */
  }

  .menu-icon {
    display: flex; /* Garante que o ícone de hambúrguer continue visível */
    position: absolute;
    right: 10px; /* Ajusta para a distância do canto direito */
    top: 50%;
    transform: translateY(-50%);
  }
}
